<%= component "notice", text: notice %>
<%= component "header", title: "Posts" %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= component "card", title: post.title, body: post.body, item: post %>
  <% end %>
</div>

<%= component "link", text: 'New', path: new_post_path %>
