  <div class="card" style="width: 18rem;">
    <%= image_tag 'boo.jpg', class: "card-img-top", alt:"boo" %>
    <div class="card-body">
      <h4 class="card-title"><%= title %></h4>
      <p class="card-text"><%= body %></p>
    </div>
  </div>
