  <div class="card">
    <%= image_tag 'boo.jpg', class: "card-img-top", alt:"..." %>
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <p class="card-text"><%= body %></p>
    </div>
  </div>
