<div class="card" style="width: 18rem;">
  <%= image_tag 'boo.jpg', class: "card-img-top", alt:"..." %>
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <p class="card-text"><%= body %></p>
    <%= component "link", text: 'show', path: item %>
  </div>
</div>
